// ------- COLORS -------
$primary-color: #a4d7e0;
$secondary-Color: #eef3e8;
$backgroundColor: #dddbca;
$backgroundColorDuo: #9ac3c3;
$universalColor: #a2ded2;

:export {
    primaryColor: $primary-color;
    mainTextColor: $secondary-Color;
}
