// ------- COLORS -------
$primary-color:  #A4D7E0;
$secondary-Color: #EEF3E8;
$backgroundColor: #DDDBCA;
$backgroundColorDuo: #9AC3C3;
$universalColor: #A2DED2;

:export {
    primaryColor: $primary-color;
    mainTextColor: $secondary-Color;
}
